repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.10
    hooks:
      - id: ruff
        args: [--fix, --config=config/ruff.toml]
      - id: ruff-format
        args: [--config=config/ruff.toml]
