name: ci

on:
  push:
    branches:
      - main
      - test-me-*
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

defaults:
  run:
    shell: bash

env:
  LANG: en_US.utf-8
  LC_ALL: en_US.utf-8
  PYTHONIOENCODING: UTF-8
  PYTHONWARNDEFAULTENCODING: "1"
  PYTHON_VERSIONS: ""

jobs:
  quality:
    strategy:
      matrix:
        os:
          - ubuntu-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Setup pixi
        uses: prefix-dev/setup-pixi@v0
        with:
          cache: true

      - name: Install dependencies
        run: pixi install -e dev

      - name: Check if the documentation builds correctly
        run: pixi run -e dev check-docs

      - name: Check the code quality
        run: pixi run -e dev check-quality

      - name: Check if the code is correctly typed
        run: pixi run -e dev check-types

      - name: Check for breaking changes in the API
        run: pixi run -e dev check-api

  tests:
    needs:
      - quality
    strategy:
      matrix:
        os:
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    continue-on-error: true

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Setup pixi
        uses: prefix-dev/setup-pixi@v0
        with:
          cache: true

      - name: Install dependencies
        run: pixi install -e dev

      - name: Run the test suite
        run: pixi run -e dev test
