name: release

on: push
permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Setup pixi
        uses: prefix-dev/setup-pixi@v0
        with:
          cache: true
      - name: Install dependencies
        run: pixi install -e dev
      - name: Prepare release notes
        run: pixi run -e dev git-changelog --release-notes > release-notes.md
      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          body_path: release-notes.md
